@import "@fontsource/manrope";
@import "@fontsource/jetbrains-mono";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode variables */
  --bg-color: #f6f6f6;
  --text-color: #2d3748;
  --accent-color: #4c51bf;
  --secondary-accent-color: #f6ad55;
  --tertiary-color: #68d391;
  --border-color: #e2e8f0;
  /* Light gray for subtle borders */

  --card-bg-color: #ffffff;
  /* Light mode card background color */
  --card-title-color: #005b99;
  /* Light mode card text color */
  --card-link: #db6d28;

  --tag-bg-color: #bfdbfe;
  /* A neutral color for light mode */
  --tag-text-color: #1e3a8a;

  --code-inline-bg-color: #dda0dd;

  /* menu color */
  --menu-bg-color: #f9fafb;
  --menu-text-color: #111827;
  --menu-hover-bg-color: #e5e7eb;
  --menu-highlight-color: #3b82f6;

  --about-title-color: #4c51bf;

  --quiz-bg-color: #f9f9f9;
  --quiz-text-color: #333;
  --quiz-border-color: #ddd;
  --quiz-option-bg: #ffffff;
  --quiz-option-hover-bg: #e9e9ff;
  --quiz-feedback-bg: #f0f8ff;
  --quiz-button-bg: #5a67d8;
  --quiz-button-hover-bg: #4c51bf;
  --quiz-loading-dot-color-1: #e63946;
  --quiz-loading-dot-color-2: #f1c40f;
  --quiz-loading-dot-color-3: #2a9d8f;
  --quiz-correct-bg: #e6ffed;
  /* Light green background for correct answers */
  --quiz-correct-border: #34d399;
  /* Light green border color for correct answers */
  --quiz-incorrect-bg: #ffe4e6;
  /* Light reddish background for incorrect answers */
  --quiz-incorrect-border: #fc8181;
  /* Light red border color for incorrect answers */

  --table-bg-color: #ffffff;
  --table-text-color: #333333;
  --table-border-color: #cccccc;
  --table-header-bg-color: #f4f4f4;
  --table-row-hover-color: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a202c;
    --text-color: #cbd5e0;
    --accent-color: #667eea;
    --secondary-accent-color: #ed8936;
    --tertiary-color: #48bb78;
    --border-color: #4a5568;
    /* Darker shade for clear separation */

    --card-bg-color: #242c3a;
    /* Dark mode card background color */
    --card-title-color: #4d9fec;
    /* Dark mode card text color */
    --card-link: #ffa726;

    --tag-bg-color: #f5a623;
    /* A neutral color for light mode */
    --tag-text-color: #1a202c;

    --code-inline-bg-color: #bf00ff;

    /* menu color */
    --menu-bg-color: #1f2937;
    --menu-text-color: #f3f4f6;
    --menu-hover-bg-color: #374151;
    --menu-highlight-color: #6366f1;

    --about-title-color: #63b3ed;

    --quiz-bg-color: #1a202c;
    --quiz-text-color: #cbd5e0;
    --quiz-border-color: #2d3748;
    --quiz-option-bg: #2a303c;
    --quiz-option-hover-bg: #3b4252;
    --quiz-feedback-bg: #2d3748;
    --quiz-button-hover-bg: #4c51bf;
    --quiz-button-bg: #4c51bf;
    --quiz-loading-dot-color-1: #ff6d6d;
    --quiz-loading-dot-color-2: #ffc107;
    --quiz-loading-dot-color-3: #38b2ac;
    --quiz-correct-bg: #285c4d;
    /* Darker green for better visibility in dark mode */
    --quiz-correct-border: #1d7961;
    /* Even darker green for border in dark mode */
    --quiz-incorrect-bg: #5c2a2a;
    /* Darker red for better visibility in dark mode */
    --quiz-incorrect-border: #7f1d1d;
    /* Even darker red for border in dark mode */

    --table-bg-color: #1a1a1a;
    /* Dark mode background */
    --table-text-color: #cccccc;
    /* Dark mode text */
    --table-border-color: #333333;
    /* Dark mode borders */
    --table-header-bg-color: #333333;
    /* Dark mode header background */
    --table-row-hover-color: #2a2a2a;
    /* Dark mode row hover */
  }
}
.dark {
  --bg-color: #1a202c;
  --text-color: #cbd5e0;
  --accent-color: #667eea;
  --secondary-accent-color: #ed8936;
  --tertiary-color: #48bb78;
  --border-color: #4a5568;
  /* Darker shade for clear separation */

  --card-bg-color: #242c3a;
  /* Dark mode card background color */
  --card-title-color: #4d9fec;
  /* Dark mode card text color */
  --card-link: #ffa726;

  --tag-bg-color: #f5a623;
  /* A neutral color for light mode */
  --tag-text-color: #1a202c;

  --code-inline-bg-color: #bf00ff;

  /* menu color */
  --menu-bg-color: #1f2937;
  --menu-text-color: #f3f4f6;
  --menu-hover-bg-color: #374151;
  --menu-highlight-color: #6366f1;

  --about-title-color: #63b3ed;

  --quiz-bg-color: #1a202c;
  --quiz-text-color: #cbd5e0;
  --quiz-border-color: #2d3748;
  --quiz-option-bg: #2a303c;
  --quiz-option-hover-bg: #3b4252;
  --quiz-feedback-bg: #2d3748;
  --quiz-button-hover-bg: #4c51bf;
  --quiz-button-bg: #4c51bf;
  --quiz-loading-dot-color-1: #ff6d6d;
  --quiz-loading-dot-color-2: #ffc107;
  --quiz-loading-dot-color-3: #38b2ac;
  --quiz-correct-bg: #285c4d;
  /* Darker green for better visibility in dark mode */
  --quiz-correct-border: #1d7961;
  /* Even darker green for border in dark mode */
  --quiz-incorrect-bg: #5c2a2a;
  /* Darker red for better visibility in dark mode */
  --quiz-incorrect-border: #7f1d1d;
  /* Even darker red for border in dark mode */

  --table-bg-color: #1a1a1a;
  /* Dark mode background */
  --table-text-color: #cccccc;
  /* Dark mode text */
  --table-border-color: #333333;
  /* Dark mode borders */
  --table-header-bg-color: #333333;
  /* Dark mode header background */
  --table-row-hover-color: #2a2a2a;
  /* Dark mode row hover */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.button-primary {
  color: var(--accent-color);
}

.button-secondary {
  background-color: var(--secondary-accent-color);
  color: white;
  /* Ensure text on buttons is legible */
}

.border-example {
  border-color: var(--border-color);
}

.card {
  background-color: var(--card-bg-color);
}

.card-title {
  color: var(--card-title-color);
}

.card-link {
  color: var(--card-link);
  text-decoration: none;
  /* Optional: removes underline */
  transition: color 0.3s ease;
  /* Smooth transition for hover effect */
}

.card-link:hover,
.card-link:focus {
  /* color: var(--card-link-hover); */
  text-decoration: underline;
  /* Optional: adds underline on hover for clarity */
}

.tag {
  color: var(--tag-text-color);
  background-color: var(--tag-bg-color);
}

.markdown-content p {
  margin-bottom: 1em;
  line-height: 1.6;
}

/* .markdown-content img {
  max-width: 100%;
  height: auto;
} */

/* Enhance line length and spacing for optimal reading experience */
.markdown-content {
  max-width: 105ch;
  /* Controls the maximum line length */
  line-height: 1.75;
  /* Enhances readability */
  margin: auto;
  /* Centers the content */
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  font-size: 2.5em;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 0.5rem;
}

.markdown-content h3 {
  font-size: 2em;
}

/* Improve heading hierarchy with margin and padding */
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Style blockquotes for emphasis */
.markdown-content blockquote {
  border-left: 4px solid var(--accent-color);
  padding-left: 1rem;
  color: var(--text-color-secondary);
  margin-left: 0;
  margin-right: 0;
}

/* Ensure lists have proper spacing */
.markdown-content ul,
.markdown-content ol {
  padding-left: 20px;
  margin-bottom: 1rem;
}

.markdown-content ul {
  list-style-type: disc;
  /* Default is disc, but can be changed to circle, square, etc. */
}

.markdown-content ol {
  list-style-type: decimal;
  /* Default is number, can be changed to lower-alpha, upper-roman, etc. */
}

/* Ensure links are distinguishable and interactive */
.markdown-content a {
  color: var(--accent-color);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.markdown-content a:hover {
  color: var(--accent-color-hover);
}

/* Responsive images */
.markdown-content img {
  display: block;
  /* Prevent inline gaps */
  max-width: 100%;
  height: auto;
  /* Maintain aspect ratio */
  margin: 1.5rem auto;
  /* Center images */
}

/* For embedded videos or iframes, consider using a responsive wrapper */
.markdown-content .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.markdown-content .video-wrapper iframe,
.markdown-content .video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.markdown-content pre {
  background-color: var(--code-bg-color);
  padding: 1rem;
  overflow-x: auto;
  border-radius: var(--radius-round);
  margin-bottom: 1rem;
}

.markdown-content code {
  background-color: var(--code-inline-bg-color);
  padding: 0.2rem 0.5rem;
  border-radius: var(--radius-small);
}

.markdown-content pre code {
  background: none;
  padding: 0;
}

/*   TABLE   */
.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  color: var(--table-text-color);
}

.markdown-content th,
.markdown-content td {
  background-color: var(--table-bg-color);
  border: 1px solid var(--table-border-color);
  text-align: left;
  padding: 8px;
}

.markdown-content th {
  background-color: var(--table-header-bg-color);
}

.markdown-content tr:nth-child(even) {
  background-color: var(--table-bg-color);
}

.markdown-content tr:hover {
  background-color: var(--table-row-hover-color);
}

/* Accessibility improvements */
.markdown-content th,
.markdown-content td {
  font-size: 0.9em;
  /* Adjust size for readability */
}

/*****/

.mobile-menu {
  background-color: var(--menu-bg-color);
}

.mobile-menu a {
  color: var(--menu-text-color);
}

.mobile-menu a:hover {
  background-color: var(--menu-hover-bg-color);
}

.about-title {
  color: var(--about-title-color);
}
