@import "@fontsource/manrope";
@import "@fontsource/jetbrains-mono";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode variables */
  --bg-color: #fafafa;
  --text-color: #2d3748;
  --accent-color: #4c51bf;
  --secondary-accent-color: #f6ad55;
  --tertiary-color: #68d391;
  --border-color: #e2e8f0; /* Light gray for subtle borders */

  --card-bg-color: #f9fafb; /* Light mode card background color */
  --card-title-color: #005b99; /* Light mode card text color */
  --card-link: #db6d28;
}

.dark {
  /* Dark mode variables */
  --bg-color: #1a202c;
  --text-color: #cbd5e0;
  --accent-color: #667eea;
  --secondary-accent-color: #ed8936;
  --tertiary-color: #48bb78;
  --border-color: #4a5568; /* Darker shade for clear separation */

  --card-bg-color: #242c3a; /* Dark mode card background color */
  --card-title-color: #4d9fec; /* Dark mode card text color */
  --card-link: #ffa726;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a,
.button-primary {
  color: var(--accent-color);
}

.button-secondary {
  background-color: var(--secondary-accent-color);
  color: white; /* Ensure text on buttons is legible */
}

.border-example {
  border-color: var(--border-color);
}

.card {
  background-color: var(--card-bg-color);
}

.card-title {
  color: var(--card-title-color);
}

.card-link {
  color: var(--card-link);
  text-decoration: none; /* Optional: removes underline */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.card-link:hover,
.card-link:focus {
  /* color: var(--card-link-hover); */
  text-decoration: underline; /* Optional: adds underline on hover for clarity */
}

/* body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a,
button {
  color: var(--highlight-color);
} */

/* Example class using the primary color * /
.primary-accent {
  background-color: var(--primary-color);
}

/* :root {
  --color-background: #0d1117;
  --color-primary: #00ffc6;
  --color-secondary: #0077ff;
  --color-tertiary: #ff0077;
  --color-neutral: #bbbbbb;
}

body {
  background-color: var(--color-background);
  color: var(--color-neutral);
  font-family: "Arial", sans-serif; /* Consider a modern, sans-serif font * /
}

a {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
}

button {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-secondary);
} */

/*
html {
  /* font * /
  --font-sans: "Manrope", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* dark * /
  --brand-dark: var(--orange-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --link-text-1-dark: #66b3ff;
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --background-dark: var(--gradient-8);
  --border-dark: var(--gray-9);

  /* light * /
  --brand-light: var(--orange-10);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --link-text-1-light: #007bff;
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --background-light: none;
  --border-light: var(--gray-4);
}

:root {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --link-text-1: var(--link-text-1-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background: var(--background-dark);
  --border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --background: var(--background-light);
    --border: var(--border-light);
  }
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --link-text-1: var(--link-text-1-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background: var(--background-dark);
  --border: var(--border-dark);
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --link-text-1: var(--link-text-1-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --background: var(--background-light);
  --border: var(--border-light);
}

html {
  color: var(--text-1);
  accent-color: var(--link);
  background-image: var(--background);
  background-attachment: fixed;
}

h1 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  font-family: var(--font-serif);
}

h2 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-6);
  font-family: var(--font-serif);
}

h3 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-9);
  font-family: var(--font-serif);
}

img {
  border-radius: var(--radius-3);
}

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  padding-inline-start: 0;
}

.surface-1 {
  background-color: var(--surface-1);
  color: var(--text-2);
}

.surface-2 {
  background-color: var(--surface-2);
  color: var(--text-2);
}

.surface-3 {
  background-color: var(--surface-3);
  color: var(--text-1);
}

.surface-4 {
  background-color: var(--surface-4);
  color: var(--text-1);
}

.prose :is(h2, h3, h4, h5, h6) {
  margin-top: var(--size-8);
  margin-bottom: var(--size-3);
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
  margin-top: var(--size-7);
}

.prose :is(ul, ol) {
  list-style-type: "🔥";
  padding-left: var(--size-5);
}

.prose :is(ul, ol) li {
  margin-block: var(--size-2);
  padding-inline-start: var(--size-2);
}

.prose pre {
  max-inline-size: 100%;
  padding: 1rem;
  border-radius: 8px;
  tab-size: 2;
}

:where(p) {
  max-inline-size: initial;
}

:where(h1) {
  max-inline-size: initial;
}

:where(li, dd, figcaption) {
  max-inline-size: initial;
}
:where(blockquote) {
  max-inline-size: initial;
}

/* POSTS * /
.post:not(:last-child) {
  border-bottom: 1px solid var(--border);
  padding-bottom: var(--size-7);
}

.post-title {
  text-transform: capitalize;
  line-height: var(--font-lineheight-9);
  font-size: var(--font-size-fluid-2);
  font-family: var(--font-serif);
}

.date {
  color: var(--text-2);
}

.prose > pre > code > span {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.prose > p > code {
  background-color: #693be9 !important;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.prose > pre {
  margin-top: 20px;
  margin-bottom: 20px;
}
.prose > blockquote {
  border-left: 5px solid #ddd;

  margin: 16px;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
  margin-top: auto;
}

.prose > p > a {
  color: var(--link-text-1);
  text-decoration: underline;
} */
